body{
    background-color: #0093E9;
    background-image: linear-gradient(90deg, #0093E9 0%, #80D0C7 100%);
}
.container{
    display: flex;
    justify-content: center; 
    text-align: center;
    flex-direction: column;
}
.container-2{
    display: flex;
    justify-content: space-evenly; 
    text-align: center;
}
.container h1{
    font-size: 50px;
}
